* {
  margin: 0;
  padding: 0;
}

body {
  margin: 4rem;
  background-color: lightslategray;
}

h1 {
  padding: 20px 0;
}

nav li {
  display: inline-block;
  list-style: none;
  margin-right: 4rem;
}

nav {
  margin-bottom: 4rem;
  font-size: 2rem;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  color: greenyellow;
}

a,
a:focus,
a:visited {
  color: darksalmon;
  outline: none;
}

.sick {
  background: red !important;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  padding: 20px;
}

input[type="radio"] {
margin-right: 10px;
}

.form-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}




